*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 

}
:root {
  font-size: 16px;
  background-color: black;
  --dark: black;
  --white: white;
  --warning : #FFC157;
  font-size: 16px;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 80px;
}
.App h1 {
  background: radial-gradient(
    circle farthest-corner at center center,
    white,
    #FFC157
  ) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  margin: 2rem auto;
  font-size: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: font-size .7s;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.movie {
  width:310px;
  height:460px;
  margin: 2.5rem 1.5rem 0 1.5rem;
  position: relative;
  transition: all .7s;
}
.movie-year {
  position: absolute;
  top: 10px;
  left: 20px;  
  color: var(--white);
  opacity: 0;
}
 
 .movie-title, .movie-type {
  background-color: gray;
  color: var(--white);
  margin-top:  -5px;
  font-style: italic;
 }
 .movie-title {
  border-radius: 0 0 5px 5px;
  padding:12px 8px;
  font-size: .8rem;
  text-indent: 12px;
 }
 .movie-type {
  text-transform: uppercase;
  text-indent: 12px;
  padding: 12px 6px 0 6px;
 }
.movie:hover {
  transform: scale(1.1);
}
.movie:hover .movie-year {
  opacity: .7;
}
.movie-image {
  height: 80%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  transition: all .7s;
}
.movie:hover .movie-image {
  box-shadow: .5px .5px 1px #FFC157, -.5px -.5px 1px #FFC157;
}
form {
  margin-bottom: 80px;
}
.search-input {
  color: var(--dark);
  text-transform: lowercase;
  width: 400px;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 24px;
  border: 2px solid white;
  font-style: italic;
  outline: none;
  border-radius: 4px 0 0 4px;
  transition: all .7s;
}
.search-input:focus {
  border: 2px solid red;
}
.search-btn {
  padding: 8px 16px;
  border: 2px solid red;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 1.1rem;
  background-color: red;
  color: white;
  outline: none;
  font-style: italic;
  transition: all .7s;
}
.search-btn:hover {
  color: red;
  background-color: white;
  border: 2px solid white;
}
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  padding: 72px 80px;
  background-color: white;
  opacity: 1;
  border-radius: 8px;
}
.modal-title {
  margin-bottom: 42px;
  text-transform: uppercase;
  letter-spacing: .1px;
  word-spacing: 2px;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(56, 51, 51);
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.modal-btn {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  padding: 6px 12px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  font-style: italic;
  background-color: var(--warning);
  color: white;
  border-radius: 4px;
  border: 2px solid var(--warning);
  outline: none;
  transition: all 0.7s;
}
.modal-btn:hover {
  border: 2px solid var(--warning);
  color: var(--warning);
  background-color: var(--white);
}


@media screen and (max-width:1200px) and (min-width:650px ) {
  .App h1 {
    font-size: 3.5rem;
  }
  .search-input {
    width: 250px;
    font-weight: 600;
    font-size: .9rem;
    padding: 4px 12px;
    border: 2px solid white;
    border-radius: 4px 0 0 4px;
  }
  .search-btn {
    padding: 4px 8px;
    border: 2px solid red;
    border-radius: 0 4px 4px 0;
    font-weight: 700;
    font-size: .9rem;
  }
}
@media (max-width:650px) {
  .App h1 {
    font-size: 2.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .search-input {
    width: 200px;
    font-weight: 600;
    font-size: .7rem;
    padding: 4px 12px;
    border: 2px solid white;
    border-radius: 3px 3px 0 0;
    text-align: center;
  }
  .search-btn {
    padding: 4px 8px;
    border: 2px solid red;
    border-radius: 0 0 3px 3px;
    font-weight: 700;
    font-size: .7rem;
  }
  .movie {
    width:200px;
    height:320px;
    margin: 2.5rem 1.5rem 0 1.5rem;
  }
  .movie-title, .movie-type, .movie-year {
    font-size: .6rem;
   }
}